{% extends 'base.html' %}

{% load status %}
{% load status_val %}
{% load fixer %}

{% block content %}

<details>
	<summary>Фильтр</summary>
	<form method="GET">
		<div class="form-group">
			<input type="text" name="user" class="form-control" placeholder="Имя автора" />
		</div>

		{% for value, label in status_variants %}
		<div class="form-group">
			<input type="radio" name="status" value='{{ value }}' />
			<label>{{ label }}</label>
		</div>
		{% endfor %}

		<div class="form-group">
			<input type="number" name="room" class="form-control" placeholder="Номер домика" />
		</div>

		<div class="form-group">
			<input type="text" name="fixer" class="form-control" placeholder="Ответственный за выполнение" />
		</div>

		<button type="submit" class="btn btn-primary">Применить</button>

		<a href="/" class="btn btn-secondary">Сбросить</a>
	</form>
</details>

{% for prob in probs %}
<p>
	<p>
		<h3>{{ prob.title }}</h3>
	</p>
	<p>
		Пользователь {{ prob.user.username }}
	</p>
	<p>
		Комната №{{ prob.room }}
	</p>
	<p>
		{{ prob.text }}
	</p>
	<p>
		Статус: {{ prob|status }} {% if prob|fixer %} пользователем {{ prob|fixer }} {% endif %}
		{% if user == prob|fixer %} <b>(вами)</b> {% endif %}
	</p>
	{% if admin and prob|status_val != 'solved' %}
	<p>
		<form>
			<button type="submit" name="toggle" value="{{ prob.id }}" class="btn btn-primary">
				{% if user == prob|fixer %}
				Завершить выполнение
				{% else %}
				Взять на себя
				{% endif %}
			</button>
		</form>
	</p>
	{% endif %}
</p>
{% endfor %}

{% endblock %}
